body {
    color: #222;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 100px;
}

section {
    padding:0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    min-height: 100vh;
}

nav {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #4364ac;
    position: relative;
    top: 0;
    left: 0
}

nav a {
    margin: auto 0;
    padding: 0 25px;
    background-color: #4364ac;
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4364ac;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0
}

a.nav, input.nav, form input.submit, .button {
    border: none;
    background-color: #4364ac;
    border-radius: 3px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
}

.form_container {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    margin: 5px 0 15px 0;
    padding: 5px;
}

.errorText {
    color: #d9534f;
    text-align: center;
}

.danger {
    background-color: #d9534f;
    text-align: center;
}

.safe {
    background-color: #4CAF50;
    text-align: center;
}

textarea {
    resize:vertical;
    font-family: 'Helvetica', sans-serif;
    line-height: 30px;
    padding: 5px;
}

.textShortContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 20px;
    width: 40%;
    min-width: 300px;
}

.textShort {
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.unsolved {
    background-color:#d9534f;
}

.solved {
    background-color: #4CAF50
}