<!DOCTYPE html>
<html>

<head>
    <title>User Auth</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        {% if current_user.is_authenticated %}
        <a href="/myprofile">Profile</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}


    <footer>
        <div>
            Copyright 2020, Jonathan Warner
        </div>
    </footer>

    <script src="/static/index.js"></script>
</body>

</html>