{% extends 'base.html' %}
{% block content %}

<section>
    <form method='POST'>
        <h1>Ask a question</h1>
        <fieldset>
            <div class="form_container">
                <label for="name">Title:</label>
                <input type="text" id="title" name="title" value="" placeholder="Title" required="true">

                <label for="featured-image">Helpful Screenshot</label>
                <input type="url" id="featured-image" name="featured-image" value="" placeholder="Link to image">

                <label for="content">Detailed Question Description</label>
                <textarea id="content" name="content" placeholder="Start Your Post" required="true"></textarea>

                <input type="submit" class="submit" value="Submit!">

                {% for message in get_flashed_messages() %}
                <p class="errorText">{{message}}</p>
                {% endfor %}
            </div>
        </fieldset>
    </form>
</section>

{% endblock content %}