{% extends 'base.html' %}
{% block content %}


<section>
    <div class="container offset-1 col-10">
        <div class="row py-4">
            <div>
                <h3>All Unanswered Questions</h3>
                <a href="/create-post">Ask a Question</a>
            </div>
            <div class="ml-auto">
                <div class="row">
                    <h3 class="pr-4">Sort posts:</h3>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{dropCurrent[0]}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for item in dropList %}
                            <a class="dropdown-item" href="/posts/{{dropList[item][1]}}">{{dropList[item][0]}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            {% if post.answered == "unsolved" %}
            <div class="col-lg-4 col-sm-6">
                <a href="view-post/{{post._id}}" class="card-title text-reset">
                    <div class="card col-12 border-0 p-0">
                        <img class="card-img-top" src="{{post.featuredImage}}" alt="{{post.title}}">
                        <div class="card-body">

                            <p class="card-title"><b>{{post.title}}:</b></p>

                            <p class="card-text">{{post.content[0:30]}}...
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>

{% endblock content %}