{% extends 'base.html' %}
{% block content %}

{% if current_user.is_authenticated %}

<section>

    <h1>{{current_user.name}}'s Profile</h1>

    <h3>
        Email: {{current_user.email}}
    </h3>


    <a href="/edit-profile" class="button">
        <div>Edit Profile</div>
    </a>
    <form method="POST" action="/delete-profile" onsubmit="return confirm_delete()">
        <input type="submit" class="button danger" value="Delete Profile">
    </form>

</section>
<section>
    <h3>My Posts</h3>

    <a href="/create-post" class="button">
        <div>New Post</div>
    </a>

    {% for post in user_posts %}
    <a href="view-post/{{post._id}}">
        <p><b>{{post.title}}:</b> {{post.content}}</p>
    </a>
    {% endfor %}
</section>

{% endif %}

{% endblock content %}