{% extends 'base.html' %}
{% block content %}

<section>
    <h1>{{post.title}}</h1>

    <img src="{{post.featuredImage}}">

    <h3>
        {{post.content}}
    </h3>
    <p>Post Author: {{post.authorName}}</p>
    <p>Posted On: {{post.date_created.strftime('%B %-d, %Y')}}</p>
    {% if current_user.id == post.authorId %}
    <a href="/edit-post/{{post._id}}" class="button">
        <div>Edit Post</div>
    </a>
    <form method="POST" action="/delete-post/{{post._id}}" onsubmit="return confirm_delete()">
        <input type="submit" class="button danger" value="Delete Post">
    </form>
    {% endif %}


    <h3>Comments:</h3>

    {% for comment in comments %}
    <p><b>{{comment.author_name}}</b>: {{comment.text}}</p>
    {% endfor %}

    <form method="POST" action="/comment/{{post._id}}">
        <input type="text" name="comment" value="" placeholder="Comment Here">
        <input type="submit" class="button" value="Send">
    </form>
</section>

{% endblock content %}